@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    line-height: normal;
}

:root {
    --navItem-bgColor: #0050B1;
    --main-black: #000000;
    --main-white: #ffffff;
    --gray-txt: #717171;
    --blue-txt-color: #0050B1;
    --right-sideBg-color: #EEF4FB;
    --pendingBg-color: #D78708;
    --failedBg-color: #D7080B;
    --donebg-color: #06872C;
}

.no-hover:hover {
    background: none !important;
    color: inherit !important;
    box-shadow: none !important;
    cursor: default !important;
}

.scrollable {
    overflow: scroll;
    max-height: 75vh;

}

.bx-0 {
    border-left: 0 !important;
    border-right: 0 !important;
}

.trans-pay-btn {
    position: relative;
    cursor: pointer;
    transition:
        transform 0.25s ease,
        box-shadow 0.25s ease;
}

.trans-pay-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.table td,
.table th,
.table td div {
    min-width: max-content;
}

.table-wrapper {
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

.table-wrapper thead {
    position: sticky;
    top: 0;
}

.trans-search,
.trans-select {
    border-radius: 16px;
}

.trans-select:hover {
    cursor: pointer;
}



.trans-pay-btn {
    border-radius: 8px !important;
    min-width: max-content;
    background-color: var(--navItem-bgColor);
}

.trans-select {
    min-width: max-content;
}

.trans-search {
    min-width: 35ch !important;
}

.trans-search-btn {
    background-color: var(--navItem-bgColor) !important;
    color: white !important;
}

.input-group {
    position: relative;
    width: auto !important;
}




.trans-search-icon svg {
    position: absolute;
    top: 0.35rem;
    left: 0.3rem;
    z-index: 10;
}

.table-wrapper thead th {
    font-weight: 600;
    color: var(--grey-table-header);
}

.scrollable::-webkit-scrollbar {
    display: none;
}

.created-color span {
    background-color: color-mix(in srgb, blue 15%, transparent);
    color: blue;
    padding: 3px 12px;
    border-radius: 20px;
}

.pendingBg-color span {
    /* background-color: var(--pendingBg-color) !important; */
    background-color: color-mix(in srgb, var(--pendingBg-color) 15%, transparent);
    padding: 3px 12px;
    border-radius: 20px;
    color: var(--pendingBg-color);
}



.failedBg-color span {
    background-color: color-mix(in srgb, var(--failedBg-color) 15%, transparent) !important;
    padding: 3px 20px;
    border-radius: 20px;
    color: var(--failedBg-color) !important;
}

.donebg-color span {
    background-color: color-mix(in srgb, var(--donebg-color) 15%, transparent);
    padding: 3px 20px;
    border-radius: 20px;
    color: var(--donebg-color);
}

.table-header-transactions tr {
    background-color: var(--navItem-bgColor);

}

.table-header-transactions tr:hover {
    background-color: var(--navItem-bgColor) !important;

}

.table-header-transactions th {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0.8rem 0;
}

.top-left {
    border-top-left-radius: 20px;
}

.top-right {
    border-top-right-radius: 20px;
}

.n-amt {
    min-width: 7vw;
}

.summary-card-transactions-client {
    border-radius: 20px;
    padding: 0;
    position: relative;
    background-color: var(--main-white);
    border: 1px solid #B8B8B8;
    box-shadow: 0px 0px 4px 0px #00000040;



}

.trans-table-client {
    margin-bottom: 0;
    border: none;

}

.trans-table-client td {
    border: 1px solid #B8B8B8;
    border-bottom: 0;
    padding: 0.5rem 0.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.all-trans-table td {
    padding: .5rem .2rem !important;
}


.first-column {
    border-left: 0 !important;
}

.last-column {
    border-right: 0 !important;
}

.trans-table-footer {
    width: 95%;
    margin: 1rem 1rem;
}

.footer-pagination svg {
    cursor: pointer;
}

.footer-page-number {
    background-color: #022179;
    padding: 0.2rem 0.7rem;
    color: white;
    border-radius: 5px;
}


.table-wrapper table tr:not(:last-child):hover {
    background-color: color-mix(in srgb, var(--navItem-bgColor) 7.5%, white);
}


@media (min-width:1536px) {
    .limiter {
        min-width: none !important;
        max-width: 20vw !important;
    }
}

@media (max-width:1600px) {
    .trans-table-client td {
        padding: 0.6rem 1.2rem;
    }

    .trans-table-client {
        width: max-content;
        /* expand to content width */
        min-width: 100%;
        /* but at least full container width */
        border-collapse: collapse;
        table-layout: auto;
        /* allow natural width based on content */
    }

    .trans-table-client th,
    .trans-table-client td {
        white-space: nowrap;
        /* no wrapping */
        padding: 1rem;
        min-width: max-content;
        /* size to unbroken content */
    }


    .trans-table-client th {
        min-width: max-content;
        padding: 1rem 1rem;
    }
}

@media (max-width:991.98px) {
    .individual-card {
        border-radius: 20px;
        background: linear-gradient(90deg, rgba(21, 91, 198, 0.20) 0%, rgba(35, 193, 207, 0.20) 100%);
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.07);
        padding: 1rem;
    }

    .created-class-mob {
        background-color: black;
        color: white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: .5rem 1rem;
        border-radius: 9999px;
        line-height: 1;
        white-space: nowrap;
        font-size: .875rem;
    }

    .pendingBg-color span {
        /* background-color: var(--pendingBg-color) !important; */
        background-color: var(--pendingBg-color) !important;
        color: white !important;
    }

    .failedBg-color span {
        background-color: var(--failedBg-color) !important;
        color: white !important;
    }

    .donebg-color span {
        background-color: var(--donebg-color) !important;
        color: white !important;
    }


    .cid-mob,
    .date-mob {
        color: #5C5C5C;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .cid-mob-value,
    .date-mob-value {
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .currency-mob {
        color: #000;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        min-width: max-content;
    }

    .status-text {
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .cid-mob-container {
        max-width: 70%;
        overflow-wrap: break-word;
    }

}

@media (max-width:575.98px) {
    .individual-card {
        padding: 0.5rem 1rem;
    }

    .btn,
    .trans-select,
    .trans-search {
        font-size: 0.8rem !important;
    }

    .trans-search-icon svg {
        width: 20px;
        min-width: none !important;
    }

    .trans-search {
        min-width: 30ch !important;
    }

    .trans-search {
        padding-left: 2rem !important;

    }

    .cid-mob,
    .date-mob {
        font-size: 12px;

    }

    .cid-mob-value,
    .date-mob-value {
        font-size: 14px;
    }

    .currency-mob {
        font-size: 16px;
    }

    .status-text {
        font-size: 12px;

    }
}

@media (max-width:406.98px) {

    .trans-search-btn,
    .trans-search,
    .trans-pay-btn,
    .trans-select {
        font-size: 0.8rem !important;

    }

    .btn,
    .trans-select,
    .trans-search {
        font-size: 0.7rem !important;
    }

    .trans-search {
        min-width: 25ch !important;
    }


}
